<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gomore.adv">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/test_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gomore.adv.MainActivity"
            android:theme="@style/AppBaseTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.gomore.adv.myreceiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.gomore.adv.SecondActivity"
            android:taskAffinity="com.example.test"
            android:theme="@style/AppBaseTheme.Launcher" />
        <activity
            android:name="com.gomore.adv.ThirdActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppBaseTheme.Launcher" />
    </application>
</manifest>